<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}} | Conde Nast Tech Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Lusitana" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <head class="main-header">
      <div class="container">
        <h2 class="main-header__title serif">
          <a href="/" title="Home">Conde Nast Tech Test</a>
        </h2>
      </div>
    </head>

    <section>
      <div class="container">
        <article>
          <header>
            <h1 class="serif">{{title}}</h1>
            <div>
              <img src="{{cover}}" alt="{{title}}" class="article__cover">
            </div>
          </header>
          <section>
            {{#body}}
              {{#is_plaintext}}
                <p>{{body}}</p>
              {{/is_plaintext}}

              {{#is_h2}}
                <h2 class="light serif italic">{{body}}</h1>
              {{/is_h2}}

              {{#is_pull_quote}}
                <blockquote>{{body}}</blockquote>
              {{/is_pull_quote}}
            {{/body}}
          </section>
        </article>
      </div>
    </section>
  </body>
</html>
